@import "../../vars.css";

.container {
    margin-top: 100px;
    padding: 10%;
    margin: 5%;
    z-index: 1;
}

.title {
    margin-left: 0%;
    margin-bottom: 35px;
}

.details {
    text-align: right;
}

.experience {
    margin: -10px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
}

.sectionContainer {
    height: 100%;
    flex-direction: row;
}

.timeline {
    width: 2px;
    height: 82%;
    background: #000000;
    position: absolute;
    left: 6%;
    bottom: 0;
}

.timelineDot {
    width: 10px;
    height: 10px;
    background: #000000;
    border-radius: 50%;
    position: absolute;
    left: 6.2%; /* Aligns with the timeline */
    transform: translateX(-50%);
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #000000;
    animation: grow 2s ease-in-out forwards;
}

@keyframes grow {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}
