@import "../../vars.css";

.container {
    width: 100%;
    padding: 5% 15%;
    max-width: 100%;
}

.title {
    margin-bottom: 25px;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.project {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 30%;
    height: 450px;
}

.preview {
    width: 100%;
    margin-right: 20px;
}

.details {
    margin: 3px;
    padding: 5px 2px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tags {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 2px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.tag {
    display: inline-block;

    background-color: var(--color-secondary);
    margin: 2px;
    padding: 2px 7px;
    border-radius: 7px;
    font-size: 14px;
}

.projectName {
    margin-bottom: 10px;
}
